@import "lib/base";
.edit-tabs{
	margin: -4px -2px 18px;
}
.edit-tabs-nav{
	overflow: hidden;
	position: relative;
	margin-bottom: -1px;
	li{
		list-style: none;
		float: left;
		text-transform: uppercase;
		border-radius: 6px 6px 0 0;
		color: #fff;
		font-weight: bold;
		padding: 0 32px 0 33px;
		height: 23px;
		line-height: 23px;
		background-color: #01c58c;
		border:1px solid #1e9875;
		border-bottom: none;
		margin-right: 1px;
		cursor: pointer;
		background: #0c926e no-repeat;
		@include background-image(linear-gradient(#00c78d, rgba(0,199,141,.0)));
		@include transition-property(background);
		@include transition-duration(0.2s);
		&:hover{
			background-position: 0 -23px;
			@include transition-property(none);
		}
	}
	.is-active{
		border-color: #b6b6b6;
		background: #f4f4f4;
		color: #404040;
		height: 24px;
		&:hover{
			background: #f4f4f4;
		}
	}
}
.edit-tabs-content{
	border:1px solid #b6b6b6;
	border-radius:0 5px 5px 5px;
	background: #f4f4f4;
	label{
		display: block;
		color: #696969;
		font-size: 14px;
		margin: 0 0 6px 2px;
	}
	.input{
		width: 163px;
		padding: 0 10px;
		height: 37px;
		font-size: 16px;
		font-family: Arial,Helvetica,sans-serif;
		color: #000;
	}
	.col1,.col2{
		float: left;
	}
	.col1{
		width: 200px ;
	}
	.cell{
		float: left;
		position: relative;
		padding-right: 37px;
		margin-right: 16px;
	}
	.row{
		overflow: hidden;
		margin-bottom: 31px;
	}
	.btn-row{
		text-align: right;
	}
	.cell-btn{
		text-align: right
	}
	.state-ok{
		position: absolute;
		bottom: 12px;
		right: 10px;
		display: none;
		@include sized-sprite($icons, 'ok');
	}
	.state-error{
		bottom: 10px;
		right: 10px;
		position: absolute;
		display: none;
		@include sized-sprite($icons, 'error');
	}
	.btn{
		height: 33px;
		font-size: 18px;
		padding: 0;
		width: 151px;
	}
	textarea{
		color: #000;
		font-size: 16px;
		padding: 5px 10px;
		line-height: 22px;
		font-family: Arial,Helvetica,sans-serif;
	}
}
.verif-error{
	.state-error{display: block;}
}
.verif-ok{
	.state-ok{display: block;}
}

.clinic-prof-content{
	padding-left: 37px;
}
//clinic-prof
.clinic-prof{
	padding: 22px 0 0;
}
.clinic-prof-nav{
	overflow: hidden;
	margin-bottom: 26px;
	li{
		list-style: none;
		float: left;
		text-decoration: underline;
		color: #30567f;
		font-size: 14px;
		line-height: 33px;
		padding: 0 12px;
		cursor: pointer;
		margin: 0 0 0 93px;
		&:first-child{
			margin-left: 29px;
		}
		&:hover{
			text-decoration: none;
		}
	}
	.is-active{
		text-decoration: none;
		color: #fff;
		line-height: 31px;
		border:1px solid #154578;
		border-radius:3px;
		background: #2f557d;
		background-repeat: no-repeat;
		@include background-image(linear-gradient(#5e92c9, rgba(94,146,201,.0)));
		@include transition-property(background);
		@include transition-duration(0.2s);
		@include transition-timing-function(ease-in);
		&:hover{
			background-position: 0 -36px;
		}
	}
}


.select-group{
	white-space: nowrap;
	padding: 0 0 0 6px;
	font-size: 14px;
	.select{
		display: inline-block;
		margin: 0 5px;
	}
}
.select-list-item{
	float: left;
	margin-left: 18px;
	&:first-child{
		margin: 0;
	}
}
.select{
	position: relative;
	&:after{
		content:"";
		border:6px solid #999;
		border-color:#999 transparent transparent;
		position: absolute;
		top: 15px;
		right: 12px;
		cursor: pointer;
	}
	input{
		font-family: Arial,Helvetica,sans-serif;
		font-size: 16px;
		height: 37px;
		cursor: pointer;
		width: 183px - 28px - 15px;
		padding: 0 28px 0 15px;
		color: #000;
	}
	.select-drop{
		display: none;
	}
}
.select_mid{
	width: auto;
}
.select_small{
	input{
		padding: 0 28px 0 8px;
		width: 110px - 8px - 28px;
		text-align: center;
	}
}
.select_tiny{
	input{
		padding: 0 28px 0 8px;
		width: 81px - 8px - 28px;
		text-align: center;
	}
}

//clinic-info
.clinic-info{
	overflow: hidden;
	.btn-row{
		margin: -7px 60px 17px 0;
	}
	.row-graph{
		margin: 0 0 14px;
	}
}
.clinic-add-logo{
	iframe{
		border:0;
		overflow: hidden;
	}
}
.clinic-add-foto{
	text-align: center;
	span{
		cursor: pointer;
		text-decoration: underline;
		font-size: 14px;
		color: #696969;
		&:hover{
			text-decoration: none;
		}
	}
	input{display: none;}
}
.clinic-rating{
	display: inline-block;
	margin: 0 0 0 -2px;
	padding: 10px 0 0;
	span{
		display: inline-block;
		margin: 5px 0 0 7px;
	}
}

//clinic-address
.clinic-address{
	width: auto;
	position: relative;
	.map{
		overflow: hidden;
		border-radius:10px;
	}
	.cell_map{
		padding-bottom: 16px;
		.state-ok, .state-error{
			bottom: auto;
			top: 4px;
		}
	}
	.row{margin-bottom: 17px;}
	.btn{
		right: 30px;
		bottom: 17px;
		position: absolute;
	}
}
//clinic-description
.clinic-description{
	textarea{
		height: 245px - 10px;
		width: 857px - 20px;
		resize: none;
	}
	.btn-row{
		margin: 0 30px 34px 0;
	}
	.state-ok,.state-error{
		bottom: auto;
		top:28px;
	}
	.row{margin-bottom: 15px;}
}