.edit-tabs { margin: -4px -2px 18px; }

.edit-tabs-nav { overflow: hidden; position: relative; margin-bottom: -1px; }
.edit-tabs-nav li { list-style: none; float: left; text-transform: uppercase; border-radius: 6px 6px 0 0; color: #fff; font-weight: bold; padding: 0 32px 0 33px; height: 23px; line-height: 23px; background-color: #01c58c; border: 1px solid #1e9875; border-bottom: none; margin-right: 1px; cursor: pointer; background: #0c926e no-repeat; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYzc4ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAxOTksIDE0MSwgMCkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c78d), color-stop(100%, rgba(0, 199, 141, 0))); background-image: -webkit-linear-gradient(#00c78d, rgba(0, 199, 141, 0)); background-image: -moz-linear-gradient(#00c78d, rgba(0, 199, 141, 0)); background-image: -o-linear-gradient(#00c78d, rgba(0, 199, 141, 0)); background-image: linear-gradient(#00c78d, rgba(0, 199, 141, 0)); -webkit-transition-property: background-position; -moz-transition-property: background-position; -o-transition-property: background-position; transition-property: background-position; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s; }
.edit-tabs-nav li:hover { background-position: 0 -23px; -webkit-transition-property: none; -moz-transition-property: none; -o-transition-property: none; transition-property: none; }
.edit-tabs-nav .is-active { border-color: #b6b6b6; background: #f4f4f4; color: #404040; height: 24px; }
.edit-tabs-nav .is-active:hover { background: #f4f4f4; }

.edit-tabs-content { border: 1px solid #b6b6b6; border-radius: 0 5px 5px 5px; background: #f4f4f4; }
.edit-tabs-content label { display: block; color: #696969; font-size: 14px; margin: 0 0 6px 2px; }
.edit-tabs-content .input { width: 163px; padding: 0 10px; height: 37px; font-size: 16px; font-family: Arial,Helvetica,sans-serif; color: #000; }
.edit-tabs-content .input_small { width: 90px; text-align: center; }
.edit-tabs-content .input_tiny { width: 61px; text-align: center; }
.edit-tabs-content .col1, .edit-tabs-content .col2 { float: left; }
.edit-tabs-content .col1 { width: 200px; }
.edit-tabs-content .col2 { width: 714px; }
.edit-tabs-content .cell { float: left; position: relative; padding-right: 37px; margin-right: 16px; }
.edit-tabs-content .row { display: inline-block; width: 100%; font-size: 0; vertical-align: top; margin-bottom: 31px; }
.edit-tabs-content .btn-row { text-align: right; }
.edit-tabs-content .cell-btn { text-align: right; }
.edit-tabs-content .state-ok { position: absolute; bottom: 12px; right: 10px; display: none; background: url('../img/icons-s77144b1b5f.png') 0 -328px no-repeat; width: 20px; height: 15px; }
.edit-tabs-content .state-error { bottom: 10px; right: 10px; position: absolute; display: none; background: url('../img/icons-s77144b1b5f.png') 0 -208px no-repeat; width: 19px; height: 20px; }
.edit-tabs-content .btn { height: 33px; font-size: 18px; padding: 0; width: 151px; }
.edit-tabs-content textarea { color: #000; font-size: 16px; padding: 5px 10px; line-height: 22px; font-family: Arial,Helvetica,sans-serif; }

.verif-error .state-error { display: block; }

.verif-ok .state-ok { display: block; }

.clinic-prof-content { padding-left: 37px; }

.clinic-prof { padding: 22px 0 0; }

.clinic-prof-nav { overflow: hidden; margin-bottom: 26px; }
.clinic-prof-nav li { list-style: none; float: left; text-decoration: underline; color: #30567f; font-size: 14px; line-height: 33px; padding: 0 12px; cursor: pointer; margin: 0 0 0 93px; }
.clinic-prof-nav li:first-child { margin-left: 29px; }
.clinic-prof-nav li:hover { text-decoration: none; }
.clinic-prof-nav .is-active { text-decoration: none; color: #fff; line-height: 31px; border: 1px solid #154578; border-radius: 3px; background: #2f557d; background-repeat: no-repeat; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlOTJjOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSg5NCwgMTQ2LCAyMDEsIDApIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5e92c9), color-stop(100%, rgba(94, 146, 201, 0))); background-image: -webkit-linear-gradient(#5e92c9, rgba(94, 146, 201, 0)); background-image: -moz-linear-gradient(#5e92c9, rgba(94, 146, 201, 0)); background-image: -o-linear-gradient(#5e92c9, rgba(94, 146, 201, 0)); background-image: linear-gradient(#5e92c9, rgba(94, 146, 201, 0)); }
.clinic-prof-nav .is-active:hover { background-position: 0 -36px; -webkit-transition-property: background-position; -moz-transition-property: background-position; -o-transition-property: background-position; transition-property: background-position; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-timing-function: ease-in; -moz-transition-timing-function: ease-in; -o-transition-timing-function: ease-in; transition-timing-function: ease-in; }

.cell-list-item { float: left; margin-left: 18px; }
.cell-list-item:first-child { margin: 0; }

.select-group { white-space: nowrap; padding: 0 0 0 6px; font-size: 14px; }
.select-group .select { display: inline-block; margin: 0 5px; }

.select { position: relative; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.select:after { content: ""; border: 6px solid #999; border-color: #999 transparent transparent; position: absolute; top: 15px; right: 12px; cursor: pointer; }
.select input { font-family: Arial,Helvetica,sans-serif; font-size: 16px; height: 37px; cursor: pointer; width: 140px; padding: 0 28px 0 15px; color: #000; }
.select .select-drop { display: none; position: absolute; top: 30px; left: 0; right: 0; max-height: 150px; background: #fff; border-radius: 0 0 4px 4px; overflow: auto; outline: none; border: 1px solid #b6b6b6; border-top: 0; z-index: 5; }
.select .select-drop ul { padding: 0 3px; }
.select .select-drop li { padding: 4px 13px; color: #000; font-size: 16px; cursor: pointer; border-top: 1px solid #b6b6b6; position: relative; list-style: none; }
.select .select-drop li:hover { margin: 0 -3px; padding: 4px 16px; background: #109e75; color: #fff; box-shadow: 0 1px 0 0 #b6b6b6; }

.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; top: 0; right: 8px; width: 5px; height: 100%; }

.jspTrack { background: none; position: relative; }

.jspDrag { background: #505050; position: relative; top: 0; left: 0; border-radius: 2px; cursor: pointer; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspVerticalBar .jspArrow { height: 20px; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { background: none; text-indent: -20000px; display: block; cursor: pointer; }

.jspArrow.jspDisabled { cursor: default; background: none; }

.jspVerticalBar .jspArrow { height: 7px; }

.jspVerticalBar .jspArrow:focus { outline: none; float: left; height: 100%; }

.select_mid { width: auto; }

.select_small input { padding: 0 28px 0 8px; width: 74px; text-align: center; }
.select_small .select-drop li { padding: 4px 24px 4px 13px; text-align: center; }
.select_small .select-drop li:hover { padding-right: 27px; }

.select_tiny input { padding: 0 28px 0 8px; width: 45px; text-align: center; }

.clinic-info { display: inline-block; width: 100%; vertical-align: top; }
.clinic-info .btn-row { margin: -7px 60px 17px 0; }
.clinic-info .row-graph { margin: 0 0 14px; }

.clinic-add-logo iframe { border: 0; overflow: hidden; }

.clinic-add-foto { text-align: center; }
.clinic-add-foto span { cursor: pointer; text-decoration: underline; font-size: 14px; color: #696969; }
.clinic-add-foto span:hover { text-decoration: none; }
.clinic-add-foto input { display: none; }

.clinic-rating { display: inline-block; margin: 0 0 0 -2px; padding: 10px 0 0; }
.clinic-rating span { display: inline-block; margin: 5px 0 0 7px; }

.clinic-address { width: auto; position: relative; }
.clinic-address .map { overflow: hidden; border-radius: 10px; }
.clinic-address .cell_map { padding-bottom: 16px; }
.clinic-address .cell_map .state-ok, .clinic-address .cell_map .state-error { bottom: auto; top: 4px; }
.clinic-address .row { margin-bottom: 17px; }
.clinic-address .btn { right: 30px; bottom: 17px; position: absolute; }

.clinic-description textarea { height: 235px; width: 837px; resize: none; }
.clinic-description .btn-row { margin: 0 30px 34px 0; }
.clinic-description .state-ok, .clinic-description .state-error { bottom: auto; top: 28px; }
.clinic-description .row { margin-bottom: 15px; }
