/* default layout */
.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 531px; }
.l .l-col2 { float: right; width: 401px; }
.l .l-col3 { float: left; width: 160px; }
.l .l-col4 { float: right; width: 777px; }
