.popup-wrap { position: fixed; top: 0; left: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.3); z-index: 100; display: none; }

.popup { position: fixed; top: -250%; left: 50%; border: 1px solid #c6c6c6; box-shadow: 0 5px 18px rgba(0, 0, 0, 0.4); border-radius: 9px; background: #fff; z-index: 120; -webkit-transition: top, 0.5s, ease-in-out; -moz-transition: top, 0.5s, ease-in-out; -o-transition: top, 0.5s, ease-in-out; transition: top, 0.5s, ease-in-out; opacity: 0; }

.is-shown { top: 50%; opacity: 1; }

.popup-close { position: absolute; background: url('../img/icons-sf47e49dd58.png') 0 -667px no-repeat; width: 14px; height: 14px; cursor: pointer; top: 20px; right: 20px; }
.popup-close:hover { opacity: 0.7; }

.popup-title { font-family: "Comic Sans MS", Arial, Helvetica, sans-serif; font-size: 22px; font-weight: normal; margin: 0 0 15px -3px; }

.popup_doctors-type { width: 665px; margin: -232px 0 0 -352px; padding: 17px 15px 25px 25px; }
.popup_doctors-type .choose-doctor { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; -webkit-column-gap: 10px; -moz-column-gap: 10px; column-gap: 10px; }
.popup_doctors-type .choose-doctor li { list-style: none; margin-bottom: 13px; line-height: 16px; }
.popup_doctors-type .btn-hold { height: 38px; width: 100%; }
.popup_doctors-type .btn { position: absolute; bottom: 25px; right: 32px; padding: 0 32px; }

.popup_metro { width: 738px; margin: -275px 0 0 -383px; padding: 17px 0 25px 28px; position: absolute; }
.popup_metro .metro { position: relative; padding: 15px 0 0 5px; }
.popup_metro .pointer { position: absolute; background: url('../img/icons-sf47e49dd58.png') 0 -614px no-repeat; width: 30px; height: 43px; bottom: 7px; left: -7px; display: none; z-index: 10; }
.popup_metro input[type="radio"]:checked + label::before { display: none; }
.popup_metro input[type="radio"]:checked + label .pointer { display: block; }
.popup_metro input[type="radio"] + label { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 0; line-height: 0; color: transparent; display: block; width: 17px; height: 17px; border-radius: 50%; cursor: pointer; position: relative; background: transparent; }
.popup_metro input[type="radio"] + label::before { display: none; }
.popup_metro .metro-station li { position: absolute; list-style: none; height: 17px; width: 17px; cursor: pointer; }
.popup_metro .metro-station li input { position: absolute; top: 2px; left: 2px; cursor: pointer; }
.popup_metro .metro-kholodnaya-gora { left: 203px; top: 314px; }
.popup_metro .metro-yuzhnyi-vokzal { left: 236px; top: 301px; }
.popup_metro .metro-tsentralnyi-rynok { left: 270px; top: 287px; }
.popup_metro .metro-sovetskaya { left: 314px; top: 298px; }
.popup_metro .metro-prospekt-gagarina { left: 338px; top: 328px; }
.popup_metro .metro-sportivnaya { left: 373px; top: 349px; }
.popup_metro .metro-malysheva { left: 408px; top: 370px; }
.popup_metro .metro-moskovskii-prospekt { left: 443px; top: 392px; }
.popup_metro .metro-marshala-zhukova { left: 479px; top: 413px; }
.popup_metro .metro-sovetskoi-armii { left: 514px; top: 435px; }
.popup_metro .metro-maselskogo { left: 549px; top: 456px; }
.popup_metro .metro-traktornyi-zavod { left: 585px; top: 477px; }
.popup_metro .metro-proletarskaya { left: 620px; top: 499px; }
.popup_metro .metro-geroev-truda { left: 520px; top: 146px; }
.popup_metro .metro-studencheskaya { left: 494px; top: 174px; }
.popup_metro .metro-akademika-pavlova { left: 470px; top: 201px; }
.popup_metro .metro-akademika-barabashova { left: 444px; top: 229px; }
.popup_metro .metro-kievskaya { left: 408px; top: 229px; }
.popup_metro .metro-pushkinskaya { left: 372px; top: 229px; }
.popup_metro .metro-universitet { left: 336px; top: 229px; }
.popup_metro .metro-istoricheskii-muzei { left: 314px; top: 278px; }
.popup_metro .metro-pr-pobedy { left: 317px; top: 14px; }
.popup_metro .metro-alekseevskaya { left: 317px; top: 57px; }
.popup_metro .metro-23-avgusta { left: 317px; top: 100px; }
.popup_metro .metro-botanicheskii-sad { left: 317px; top: 143px; }
.popup_metro .metro-nauchnaya { left: 317px; top: 186px; }
.popup_metro .metro-gosprom { left: 317px; top: 229px; }
.popup_metro .metro-arkhitektora-beketova { left: 345px; top: 260px; }
.popup_metro .metro-pl-vosstaniya { left: 373px; top: 292px; }
.popup_metro .metro-metrost-im-vashchenko { left: 374px; top: 330px; }
.popup_metro .btn-hold { text-align: center; }

.popup_request { width: 850px; margin: -240px 0 0 -451px; padding: 24px 25px 28px 28px; background: white url(../img/doctor3.jpg) no-repeat 713px 226px; }
.popup_request .popup-title { margin-bottom: 30px; }

.reques-form { float: left; width: 348px; }
.reques-form .row { margin-bottom: 8px; }
.reques-form input[type="text"] { font-size: 12px; height: 32px; padding: 0 10px; width: 267px; }
.reques-form .row-check { margin: 11px 0 22px; }
.reques-form .row-check input { margin-right: 5px; vertical-align: middle; }
.reques-form .row-radio { margin-bottom: 12px; }
.reques-form .row-radio span { color: #000; display: inline-block; margin-right: 12px; }
.reques-form .row-radio label { font-size: 12px; }
.reques-form .radio { display: inline-block; margin-right: 7px; }
.reques-form textarea { font-size: 12px; padding: 5px 10px; width: 267px; height: 78px; resize: none; }
.reques-form .row-btn { margin: 16px 0 0 32px; }
.reques-form .btn { padding: 0 22px; height: 31px; }

.request-inf { float: left; width: 449px; padding-left: 52px; height: 375px; border-left: 1px solid #e4e4e4; }
.request-inf p { font-size: 12px; line-height: 20px; margin-bottom: 20px; }
.request-inf em { font-size: 18px; font-style: normal; }
.request-inf .phone { font-size: 24px; color: #169073; }

.popup_appointment { width: 494px; height: 419px; margin: -209px 0 0 -247px; background: white url("../img/doctor4.jpg") no-repeat 353px 153px; }
.popup_appointment .appointment { border: none; width: auto; float: none; background: none; padding: 15px 30px 13px; }
.popup_appointment .appointment h2 { font-size: 22px; letter-spacing: 0; margin-bottom: 9px; color: #404040; }
.popup_appointment .appointment .phone { font-size: 12px; letter-spacing: 0; }
.popup_appointment .appointment .phone strong { font-size: 18px; }
.popup_appointment .appointment .phone strong span { font-size: 16px; }
.popup_appointment .appointment .btn-holder { width: 291px; padding-top: 17px; }
.popup_appointment form { margin-top: 8px; }
.popup_appointment .row-textarea { margin-top: 10px; }
.popup_appointment .row-textarea textarea { font-size: 12px; height: 74px; padding: 7px 13px; width: 263px; resize: none; }
.popup_appointment .doctor { display: inline-block; width: 100%; font-size: 15px; font-family: "Comic Sans MS", Arial, Helvetica, sans-serif; }
.popup_appointment .doctor dt { float: left; margin-right: 6px; }
.popup_appointment .doctor dd { margin-bottom: 6px; }

.popup_entry { width: 677px; padding: 24px 0 64px 30px; margin: -136px 0 0 -353px; min-height: 184px; background: white url("../img/doctor4.jpg") no-repeat 353px 17px; }
.popup_entry .entry-form { padding: 16px 0 20px; width: 300px; }
.popup_entry input[type="text"] { font-size: 12px; height: 31px; padding: 0 11px; width: 265px; }
.popup_entry .row { margin-bottom: 8px; }
.popup_entry .row-text { margin-top: 15px; }
.popup_entry .check { display: inline-block; margin-left: 27px; }
.popup_entry .check input { vertical-align: middle; margin-right: 8px; }
.popup_entry .btn-hold { left: 30px; position: absolute; text-align: center; bottom: 33px; width: 286px; }
.popup_entry .btn { height: 31px; width: 111px; padding: 0; margin: 0 2px; line-height: 31px; vertical-align: middle; }
.popup_entry div.btn { height: 29px; line-height: 29px; display: inline-block; }
.popup_entry .entry-text { position: absolute; left: 487px; line-height: 18px; top: 94px; font-size: 12.5px; }
.popup_entry .entry-text a { color: #239b8c; }
.popup_entry .entry-text a:hover { text-decoration: none; }

.popup_access { width: 386px; margin-top: -131px; margin-left: -221px; min-height: 248px; padding: 24px 28px 0; background: url("../img/doctor4.jpg") no-repeat 273px 17px white; }
.popup_access .popup-title { color: #c40b21; margin-left: -1px; margin-bottom: 19px; }
.popup_access .popup-title span { display: block; color: #404040; font-size: 18px; margin-top: 23px; }
.popup_access .access-text { font-size: 12.5px; line-height: 18.5px; padding: 0 0 0 3px; }
